@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

html,
body,
#root {
  height: 100dvh;
  min-height: 0;
  width: 100vw;
  min-width: 0;
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  overflow: hidden;
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
  width: 100%;
  min-width: 0;
  box-sizing: border-box;
  overflow: hidden;
}

:root {
  font-family: Inter, sans-serif;
  font-size: 0.7em;
  line-height: auto;
  font-weight: 400;

  color: #222222;
  background-color: #222222;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[text-style="display"] {
  font-family: Instrument Sans, sans-serif;
  color: #d9d9d9;
}

[color-type="accent-color"] {
  color: #c56ec9;
}
[color-type="accent-color-2"] {
  color: #f38665;
}

[color-type="icon-color"] {
  color: #606060;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: inherit;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  outline: none;
  cursor: default;
  user-select: none;
  box-sizing: border-box;
  height: 100dvh;
  min-height: 0;
  width: 100vw;
  min-width: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  background-color: inherit;
  color: inherit;
  border: 0px solid transparent;
  font-size: 1em;
  font-family: inherit;
  cursor: pointer;
  padding: 0;
  transition: background-color 0.2s;
}
[topbar-buttons="true"] {
  background-color: #222222;
}
button:hover {
  filter: brightness(1.2);
}
button:focus {
  outline: none;
}
span {
  margin: 0;
}
input {
  margin: 0;
}
hr {
  border: 2px solid #3c3c3c;
  margin: 0px 20px;
  border-radius: 999px;
}
img {
  pointer-events: none;
  -webkit-user-drag: none;
}
.hr {
  width: 4px;
  display: block;
  background: #3c3c3c;
  margin: 4px 8px;
  border-radius: 999px;
}

.scrollable::-webkit-scrollbar {
  width: 18px;
}
.scrollable::-webkit-scrollbar-track {
  background: transparent;
}
.scrollable::-webkit-scrollbar-thumb {
  background-color: #ffffff22;
  border-radius: 10px !important;
  border: 5px solid #2a2a2a; /* match background to create spacing */
}

.scrollable.light-bg::-webkit-scrollbar-thumb {
  border: 5px solid #2a2a2a; /* match background to create spacing */
}

.scrollable.med-bg::-webkit-scrollbar-thumb {
  border: 5px solid #252525; /* match background to create spacing */
}

.scrollable.dark-bg::-webkit-scrollbar-thumb {
  border: 5px solid #222222; /* match background to create spacing */
}
