.files {
  display: grid;
  grid-template-columns: repeat(auto-fit, 140px);
  gap: 15px 5px;
  padding: 27px 0px 20px 0px;
  margin: 5px 0px 3px 10px;
  border-radius: 5px;
  overflow-y: auto;
  height: 100%;
  min-height: 0;
  min-width: 200px;
  overflow-x: hidden;
  flex: 1 1 0;
  box-sizing: border-box;
  grid-auto-rows: min-content;
  background-color: var(--background);
}

.drop-zone {
  border: 2px dashed transparent;
  border-image: repeating-linear-gradient(
      90deg,
      white 0px,
      white 10px,
      transparent 10px,
      transparent 20px
    )
    1;
  animation: dash-move 1s linear infinite;
  padding: 1rem;
  border-radius: 8px;
}

@keyframes dash-move {
  0% {
    border-image-slice: 1;
    border-image-source: repeating-linear-gradient(
      90deg,
      white 0px,
      white 10px,
      transparent 10px,
      transparent 20px
    );
  }
  100% {
    border-image-source: repeating-linear-gradient(
      90deg,
      white 10px,
      white 20px,
      transparent 20px,
      transparent 30px
    );
  }
}

.empty-box {
  padding: 60px 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 7px;
  box-sizing: border-box;
  min-height: fit-content;
  height: 0px;
  font-size: 1.4em;
  text-align: center;
  align-items: center;
  gap: 10px;
  color: var(--gray-50);
}

.file-select-box {
  margin: 0px 0px;
  padding: 15px;
  display: flex;
  background-color: var(--background);
  flex-direction: column;
  width: 140px;
  border-radius: 7px;
  min-height: fit-content;
  height: 140px;
  font-size: 1.2em;
  text-align: center;
  align-items: center;
  font-weight: 500;
  gap: 10px;
}

.file-select-box.new {
  color: var(--gray-50);
}
.file-select-box.highlighted {
  filter: brightness(1.2);
  outline-offset: -1px;
  outline: 1px solid #2d699b;
}

.rounded-rect-icon {
  border: 2px solid var(--gray-50);
  border-radius: 10px;
  width: 47px;
  height: 47px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  margin-top: 2px;
}