.search-box {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 70px;
  width: calc(min(100%, 100vw - 606px));
  box-sizing: border-box;

  font: inherit;
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
  border-radius: 8px;
  border: 1px #4f4f4f solid;
  color: var(--gray-50);
  background-color: var(--alternate-background);
  padding: 7px 9px 5px 9px;
  box-shadow: 0px 5px 14px #00000066;

  resize: none;
  outline: none;
  text-overflow: ellipsis;

  white-space: nowrap;

  transition:
    border-color 0.4s,
    box-shadow 0.4s;
  z-index: 300;
}

.stars {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  word-wrap: normal;
}

.chip {
  display: inline-flex;
  align-items: flex-start;
  text-align: left;
  background-color: #434343;
  border: 1px solid #535353;
  color: var(--foreground);
  border-radius: 12px;
  padding: 4px 8px;
  margin-right: 8px;
  margin-bottom: 6px;
  cursor: pointer;

  max-width: 100%;
  white-space: normal; /* allow wrapping if needed */
  word-break: break-all; /* wrap long words if necessary */
}

.search-result {
  display: inline-flex;
  align-items: center;
  text-align: left;
  /* background-color: var(--tinted-background); */
  border-top: 1px solid var(--tinted-background);
  color: var(--foreground);
  border-radius: 0px;
  padding: 9px 6px 6px 6px;
  margin-bottom: 2px;
  margin-top: 2px;
  cursor: pointer;
  font-style: italic;
  gap: 8px;

  max-width: 100%;
  white-space: normal; /* allow wrapping if needed */
  word-break: break-all; /* wrap long words if necessary */
}

.star-icon {
  margin-right: 4px;
}

.chip-name {
  font-size: 12px;
}
.results {
  margin: 0px 0px 2px 0px;
  display: flex;
  flex-direction: column;
}

.results-label {
  margin: 15px 0px 5px 0px;
  font-style: italic;
  color: var(--foreground);
  font-weight: 500;
}

.starred-label {
  display: flex;
  margin: 0px 0px 5px 0px;
  font-size: 0.9em;
  letter-spacing: 1px;
  font-weight: 700;
  color: var(--gray-50);
  justify-content: space-between;
  align-items: center;
}
