.search-box {
  display: flex;
  flex-direction: column;
  /* visibility: hidden; */
  pointer-events: none;
  box-sizing: border-box;

  font: inherit;
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
  border-radius: 15px 15px 15px 15px;
  border: 1px solid var(--tinted-background);
  color: var(--gray-50);
  background-color: var(--alternate-background-transparent);
  backdrop-filter: blur(40px);
  padding: 9px 10px 6px 10px;
  box-shadow: 0px 5px 18px #00000046;

  resize: none;
  outline: none;
  text-overflow: ellipsis;

  white-space: nowrap;
  opacity: 0;
  translate: 0 -3px;
  scale: 98%;


  transition: opacity 150ms ease, translate 150ms ease, scale 150ms ease;
  z-index: 300;
}
.search-box.focused {
  visibility: visible;
  pointer-events: all;
  opacity: 1;
  translate: 0 0;
  scale: 100%;
}

.stars {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  word-wrap: normal;
}

.chip {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  text-align: left;
  background-color: #434343;
  border: 1px solid #535353;
  color: var(--foreground);
  border-radius: 12px;
  padding: 4px 8px;
  margin-right: 8px;
  margin-bottom: 6px;
  cursor: pointer;

  max-width: 100%;
  white-space: normal; /* allow wrapping if needed */
  word-break: break-all; /* wrap long words if necessary */
}

.search-result {
  display: inline-flex;
  align-items: center;
  text-align: left;
  /* background-color: var(--tinted-background); */
  border-top: 1px solid var(--tinted-background);
  color: var(--foreground);
  border-radius: 0px;
  padding: 10px 6px 10px 6px;
  cursor: pointer;
  font-style: italic;
  gap: 8px;

  max-width: 100%;
  white-space: normal; /* allow wrapping if needed */
  word-break: break-all; /* wrap long words if necessary */
}

.star-icon {
  margin-right: 4px;
}

.chip-name {
  font-size: 12px;
}
.results {
  margin: 2px 0px 3px 0px;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.results-label {
  margin: 15px 0px 5px 0px;
  font-style: italic;
  color: var(--foreground);
  font-weight: 500;
}

.starred-label {
  display: flex;
  margin: 0px 0px 8px 0px;
  font-size: 0.9em;
  letter-spacing: 1px;
  font-weight: 700;
  color: var(--gray-50);
  justify-content: space-between;
  align-items: center;
}
