.search-field {
  display: flex;
  width: calc(min(100%, 100vw - 590px));
  box-sizing: border-box;

  font: inherit;
  border-radius: 999px;
  border: 1px #767676 solid;
  color: var(--foreground);
  background-color: var(--tinted-background);
  padding: 7px 9px 7px 9px;

  overflow: hidden;
  resize: none;
  outline: none;
  text-overflow: ellipsis;
  box-shadow: none;
  cursor: text;

  white-space: nowrap;

  transition:
    border-color 0.4s,
    box-shadow 0.4s;
}

.search-field-span {
  display: flex;
  width: calc(min(100%, 100vw - 590px));
  box-sizing: border-box;

  font: inherit;
  border-radius: 999px;
  border: 1px #767676 solid;
  color: var(--foreground);
  background-color: var(--tinted-background);
  padding: 7px 9px 7px 9px;

  overflow: hidden;
  resize: none;
  outline: none;
  text-overflow: ellipsis;
  box-shadow: none;
  cursor: text;

  white-space: nowrap;

  transition:
    border-color 0.4s,
    box-shadow 0.4s;
}

.search-field-span:focus {
  border-color: var(--secondary);
  box-shadow: 0px 0px 50px var(--secondary) 22;
}
