.toolbar-container {
  width: calc(min(100%, 100vw - 590px));
  margin-top: 13px;
  box-sizing: border-box;
  border-radius: 7px;
  border: 1px #3C3C3C solid;
  color: #bbbbbb;
  background-color: #2A2A2A;
  display: flex;
  flex-direction: row;
  justify-content: left;
  height: 90px;
  padding: 20px 20px 0px calc(max(20px, (100vw - 1460px) / 2));
  overflow-x: scroll;
  overflow-y: hidden;
}


.toolbar-section {
  display: flex;
  flex-direction: column;
  font-size: 0.9em;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  margin-top: 4px;
  /* outline: 1px solid white; */
  letter-spacing: 0.1em;
  color: #737373;
}

.toolbar-subsection {
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: #bbbbbb;
}

.icon-button {
  border-radius: 5px;
  width: 35px;
  height: 35px;
  margin: 8px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2A2A2A;
  padding: 5px;
}

.icon-button.grayed {
  color: #454545;
}

.icon-button.chosen-view {
  filter: brightness(1.3);
}