.dropdown {
  position: relative;
  color: var(--foreground);
  font-size: 13px;
}

.dropdown-toggle {
  padding: 6px 8px;
  background: #2c2c2c;
  border: 1px solid var(--tinted-background);
  border-radius: 7px;
  cursor: pointer;
  min-width: 160px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-menu {
  position: absolute;
  pointer-events: none;
  top: 100%;
  left: 0;
  background: #2c2c2c;
  border: 1px solid var(--tinted-background);
  margin-top: 4px;
  border-radius: 7px;
  padding-left: 0;
  min-width: 160px;
  width: calc(100% - 2px);
  box-shadow: 0 5px 14px #00000077;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.1s ease, translate 0.1s ease, scale 0.1s ease;
  translate: 0 -7px;
  scale: 98%;
}
.dropdown-menu.open {
  visibility: visible;
  pointer-events: all;
  opacity: 1;
  translate: 0 0;
  scale: 100%;
}

.dropdown-item {
  padding: 6px 8px;
  margin: 2px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: inherit;
  cursor: pointer;
  transition: filter 150ms ease;
}

.dropdown-item:hover {
  filter: brightness(1.2);
}

.icon {
  display: flex;
  align-items: center;
}

.chevron-arrow {
  display: flex;
  align-items: center;
  transition: rotate 140ms ease;
}
