.field {
  display: block;
  width: 100%;
  box-sizing: border-box;

  font: inherit;
  border-radius: 7px;
  border: 1px var(--tinted-background) solid;
  color: #c2c2c2;
  background-color: var(--background);
  font-size: 1.3em;
  letter-spacing: 0.01em;

  overflow: hidden;
  resize: none;
  outline: none;
  text-overflow: ellipsis;
  box-shadow: none;
  cursor: text;

  transition:
    border-color 0.4s,
    box-shadow 0.4s;
}
.field-span {
  display: block;
  width: 100%;
  box-sizing: border-box;

  font: inherit;
  border-radius: 7px;
  border: 1px var(--tinted-background) solid;
  color: #c2c2c2;
  background-color: var(--background);
  font-size: 1.3em;
  letter-spacing: 0.01em;
  padding: 7px;

  overflow: hidden;
  resize: none;
  outline: none;
  text-overflow: ellipsis;
  box-shadow: none;
  cursor: text;

  transition:
    border-color 0.4s,
    box-shadow 0.4s;
}

.field-span:focus {
  border-color: var(--secondary);
  box-shadow: 0px 0px 50px var(--secondary) 22;
}
