.big-title {
  font-size: 3.5em;
  font-weight: 700;
  margin-left: 3px;
}
.big-title.small {
  font-size: 2.5em;
}

.title-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.settings-button {
  margin-top: 4px;
  color: #737373;
  background-color: #2a2a2a;
  border-radius: 5px;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.section-title {
  font-size: 1em;
  font-weight: 700;
  margin-top: 27px;
  margin-bottom: 5px;
  margin-left: 3px;
  letter-spacing: 0.1em;
  color: #606060;
}

.rotated {
  transition: transform 0.4s cubic-bezier(0, 1.3, 0.3, 1);
}

.rotate:hover .rotated {
  transition: transform 0.4s cubic-bezier(0, 1.3, 0.3, 1);
  transform: rotate(270deg);
}
