.big-title {
  font-size: 3.5em;
  font-weight: 700;
  margin-top: 12px;
  margin-left: 3px;
}

.section-title {
  font-size: 1em;
  font-weight: 700;
  margin-top: 27px;
  margin-bottom: 5px;
  margin-left: 3px;
  letter-spacing: 0.1em;
  color: #606060;
}