.med-title {
  font-size: 2em;
  font-weight: 600;
  margin-top: 7px;
}

.field-label {
  font-size: 1.1em;
  font-weight: 700;
  margin-top: 27px;
  margin-left: 2px;
  margin-bottom: 5px;
  color: #898989;
  /* margin-left: 3px; */
}

.faded {
  font-size: 14px;
  font-weight: 500;
  margin-top: 15px;
  color: #737373;
}