.modal-overlay {
  position: fixed;
  top: 28px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
  border-top: 2px solid #2c2c2c;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-container {
  background-color: #2a2a2a;
  border: 1px solid #3c3c3c;
  color: #d9d9d9;
  box-shadow: 0 8px 20px #00000044;
  padding: 25px 25px;
  border-radius: 8px;
  position: relative;
  min-width: 300px;
  max-width: 90%;
}

.modal-content {
  margin-top: 0rem;
}


/*  SPECIFIC STYLING  */

.modal-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  margin-left: 2px;
  margin-top: 3px;
}

.modal-body {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 4px;
  margin-left: 2px;
  letter-spacing: 0.2px;
}

.modal-paragraph {
  font-size: 13px;
  font-weight: 300;
  overflow-wrap: normal;
  display: flex;
  margin-left: 2px;
  flex: 1;
  margin-bottom: 20px;
  width: 320px;
}

.modal-file-explorer-button {
  display: flex;
  width: 320px;
  box-sizing: border-box;

  font: inherit;
  border-radius: 7px;
  border: 1px #3C3C3C solid;
  color: #c2c2c2;
  background-color: #252525;
  font-size: 13px;
  letter-spacing: 0.1px;
  padding: 7px;

  outline: none;
  text-overflow: ellipsis;
  box-shadow: none;
  cursor: pointer;
  text-align: left;
}

.modal-whisper {
  font-style: italic;
  color: #606060;
  margin-top: auto;
  width: 200px;
}

.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: none;
  background: none;
  cursor: pointer;
}
