.plus-button {
  display: flex;
  height: fit-content;
  margin-bottom: 3px;
}

.directory {
  flex: 1;
  border-radius: 7px;
  border: 1px var(--tinted-background) solid;
  color: var(--tinted-foreground);
  background-color: var(--background);
  padding: 10px 10px 10px 15px;
  overflow-y: auto;
  overflow-x: hidden;
}

.directory-large {
  color: var(--muted-foreground);
  font-size: 1.35em;
  font-weight: 300;
  margin: 11px 3px 5px 3px;

  justify-content: space-between;
  display: flex;
}

.directory-medium {
  flex: 1;
  padding: 4px 3px 4px 12px;
  color: var(--foreground);
  background-color: var(--background);
  border-radius: 4px;
  font-size: 1.2em;

  display: flex;
  justify-content: left;
  align-items: start;
  text-align: left;
  gap: 4px;
  width: 98%;

  box-sizing: border-box;
  flex-direction: row;
  z-index: 10;
  margin-top: 1px;
}
.directory-medium:hover {
  cursor: pointer;
}

.directory-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 200px;
  flex: 1;
}
.directory-medium:hover .directory-text {
  max-width: 150px;
}

.directory-medium .del-dir-button {
  opacity: 0;
  pointer-events: none;
}

.directory-medium:hover .del-dir-button {
  opacity: 1;
  pointer-events: auto;
}

@keyframes blink-animation {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}
