.directory {
  flex: 1;
  border-radius: 7px;
  border: 1px #3C3C3C solid;
  color: #bbbbbb;
  background-color: #252525;
  padding: 10px 10px 10px 15px;
  overflow-y: auto;
  overflow-x: hidden;
}

.directory-large {
  color: #898989;
  font-size: 1.35em;
  font-weight: 300;
  margin: 9px 3px 5px 3px;

  justify-content: space-between;
  display: flex;
}

.directory-medium {
  flex: 1;
  padding: 4px 3px 4px 12px;
  color: #d9d9d9;
  background-color: #252525;
  border-radius: 4px;
  font-size: 1.2em;

  display: flex;
  width: 98%;

  box-sizing: border-box;
  flex-direction: row;
  z-index: 10;
  margin-top: 1px;
  }
  .directory-medium:hover {
    filter: brightness(1.2);
    cursor: pointer;
  }

  .directory-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 200px;
    flex: 1;
  } .directory-medium:hover .directory-text {
    max-width: 150px;
  }


  .directory-medium .del-dir-button {
    opacity: 0;
    pointer-events: none;
  }

  .directory-medium:hover .del-dir-button {
    opacity: 1;
    pointer-events: auto;
  }

@keyframes blink-animation {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.3; }
}