.recently-viewed {
  flex: 1;
  border-radius: 7px;
  border: 1px var(--tinted-background) solid;
  color: var(--tinted-foreground);
  background-color: var(--background);
  padding: 15px;
}

.recently-viewed-large {
  color: var(--muted-foreground);
  font-size: 1.35em;
  font-weight: 300;
  margin: 9px 3px 5px 3px;

  justify-content: space-between;
  display: flex;
}

.recently-viewed-medium {
  flex: 1;
  padding: 6px 2px 6px 8px;
  color: var(--foreground);
  background-color: var(--background);
  border-radius: 4px;
  font-size: 1.2em;

  display: flex;
  flex-direction: row;
  width: 100%;
}
.recently-viewed-medium:hover {
  cursor: pointer;
}

.truncated-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
