.recently-viewed {
  flex: 1;
  border-radius: 7px;
  border: 1px var(--tinted-background) solid;
  color: var(--tinted-foreground);
  background-color: var(--background);
  padding: 13px 10px;
}

.recently-viewed-item {
  flex: 1;
  padding: 6px 6px 6px 6px;
  color: var(--foreground);
  background-color: var(--background);
  border-radius: 4px;
  font-size: 1.2em;

  display: flex;
  flex-direction: row;
  width: 100%;
}
.recently-viewed-item:hover {
  cursor: pointer;
}

.truncated-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
