.recently-viewed {
  flex: 1;
  border-radius: 7px;
  border: 1px #3C3C3C solid;
  color: #bbbbbb;
  background-color: #252525;
  padding: 15px;
}

.recently-viewed-large {
  color: #898989;
  font-size: 1.35em;
  font-weight: 300;
  margin: 9px 3px 5px 3px;

  justify-content: space-between;
  display: flex;
}

.recently-viewed-medium {
  flex: 1;
  padding: 6px 2px 6px 2px;
  color: #d9d9d9;
  background-color: #252525;
  border-radius: 4px;
  font-size: 1.2em;

  display: flex;
  flex-direction: row;
  width: 210px;
  }
  .recently-viewed-medium:hover {
    filter: brightness(1.2);
    cursor: pointer;
  }

.truncated-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}