.titlebar {
  -webkit-app-region: drag;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #222222;
  color: #bbbbbb;
  padding: 0px 0px 0px 8px;

}

.window-controls {
  display: flex;
  height: 100%;
  -webkit-app-region: no-drag; /* make sure the container isn't draggable */
}

.window-controls button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px; /* reasonable fixed width */
  height: 100%; /* fill vertical space */
  cursor: pointer;
  color: white;
  font-size: 1.1em;
}

.x-button:hover {
  background-color: #cf493a;
}

.full-page {
  display: flex;
  height: 100%;
  justify-content: left;
  flex-direction: column;
  /* outline: 1px white solid; */
}

.content {
  display: flex;
  height: 100%;
  justify-content: space-between;
  flex-direction: row;
  /* outline: 1px white solid; */
}

.content-panel-container {
  margin: 3px 10px 10px 10px;
  width: 240px;
  border-radius: 7px;
  border: 1px #3C3C3C solid;
  color: #bbbbbb;
  background-color: #2A2A2A;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* outline: 1px white solid; */
}

.content-nopanel-container {
  width: calc(min(100%, 100vw - 590px));
  border-radius: 7px;
  color: #bbbbbb;
  padding: 3px;
  display: flex;
  flex-direction: column;
  /* border: 1px white solid; */
}

.tooltip-text {
  visibility: hidden;
  background-color: #333;
  color: #fff;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 4px;
  position: absolute;
  bottom: 125%; /* position above the icon */
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  z-index: 1;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

